.about_hero {
    min-height: 100vh;
    padding: 100px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    background: linear-gradient(#ffffff28, #000000) , url(./img/WhatsApp\ Image\ 2025-06-21\ at\ 18.41.56.jpeg) fixed; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .row {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .main_heading {
                font-size: 80px;
                color: #fff;
            }
            .sub_heading {
                font-size: 45px;
                color: #fff;
                text-align: center;
            }
        }
    }
}